{% extends 'ui/base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <form class="col s12" method="POST" >
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12">
                  <input id="title" type="text" class="validate" name="title" required>
                  <label for="title">Book Title</label>
                </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="authors" type="text" class="validate" name="authors" required>
                <label for="authors">Author</label>
              </div>
            </div>
          <div class="row">
            <div class="input-field col s12">
              <select class="browser-default grey-text" name="book_type" id="book_type" required>
                <option value="" disabled selected>Select Book Type</option>
                <option value="F">Fiction</option>
                <option value="N">Novels</option>
                <option value="R">Regular</option>
              </select>
              <!-- <label for="book_type">Book Type</label> -->
            </div>
          </div>
          <div class="row">
            <div class="input-field col 12">
              <input id="stock" type="number" class="validate" min="0" required>
              <label for="stock">Copies</label>
            </div>
          </div>
    </div>
          
          <input type="submit" value="Submit" class="btn-small grey">
        
        </form>
  </div>


        

{% endblock %}