{% extends 'ui/base.html' %}
{% block content %}

<div class="container">

  {% if books_list %}
  <h2>Books</h2>
  <hr>
  <div class="row">
    <div class="col s6">
        <a href="{% url 'customer_list_view' %}" class="">
            <p class="grey-text text-darken-3">Active Customers</p>
        </a>  
    </div>
    <div class="col s6">
        <a href="{% url 'customer_charge_view' %}" class="">
            <p class="grey-text text-darken-3">Charge Customers</p>
        </a>  
    </div>
  </div>
  

  {% endif %}

  <div class="row">
    
    {% for book in page_obj %}
    <div class="">
      <div class="card-panel">
            <h5><strong>{{ book.title }}</strong> <i>by</i> <span>{{book.authors}}</span> </h5>
            <a href="{% url 'add_rent_view' %}?book={{book.id}}" class="btn-small grey">
                <span class="bold">Rent</span>
              </a>
      </div>
    </div>
    {% empty %}
    <div class="nobook-wrapper center">
      <h3 class="grey-text">Sorry, you don't have any books, yet.</h3>
      <a href="" class="btn-large grey">
        <span class="bold">Add Book</span>
      </a>
    </div>
    {% endfor %}
    <div class="pagination">
      <span class="step-links">
          {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}
  
          <span class="current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
  
          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">next</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
      </span>
  </div>
  </div>

  {% if books_list %}
  <a href="{% url 'add_book_view' %}" class="btn-large grey">
    <span class="bold">Add Book</span>
  </a>
  {% endif %}

</div>

{% endblock %}
